body {
    padding: 100;
    margin: 100;
    background-color: #FFC000;
  }

  h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
  }

  h6{
    color: white;
  }

  #map,
  body,
  html {
    height: 100%;
  }

.row {
  min-height: 40vh;
}

.dropdown{
  padding-left:15px;
  padding-right:15px;
}
  